body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
code span{
  color: #fff;
}
pre{
  margin: 0;
}
p{
  line-height: 1.8;
}
.code-primary{
  color: #00d0ff;
}
.code-red{
  color: #f50459;
}
.code-green{
  color: #beef06;
}
.code-yellow{
  color: #c4a528;
}
.code-string{
  color: #fdd904;
}
.code-brace{
  color: #a26aae;
}
.code-number{
  color: #d303ff;
}
.code-command{
  color: #676767;
}